// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.invertable { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: rgb(240, 240, 240); }

html { height: 100%; }

body {
  color: rgb(40, 40, 40);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: salmon; }

.w {
  max-width: 680px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: ':::::' }
  &:after { content: attr(data-content) ':::::' }
}

table { width: 100%; }

table, th, td {
  border: thin solid rgb(40, 40, 40);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: rgb(240, 240, 240);
  background: rgb(40, 40, 40);
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid rgb(40, 40, 40);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.footnote-definition {
  padding: 0 1rem;
  &:target {
    background: salmon;
    color: #212121;
  }
  p {
    display: inline;
  }
}

nav, .taxonomies { text-align: center; }